# ===========================
# Backend
# ===========================
Backend/node_modules/
Backend/.env
Backend/uploads/

# ===========================
# Frontend
# ===========================
sfa-web/node_modules/
sfa-web/.next/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Windows
# ===========================
Thumbs.db